#main-window {
    background-color: AliceBlue;
}
/************************************************************/
#account-widget {
    
}
/************************************************************/
#menu-tool-bar {

}

#menu-tool-bar, QToolBar {
    background-color: rgba(0, 0, 255, 0.1);
}

#menu-tool-bar, QToolButton{
    width:100%;
}
/************************************************************/
#referencial-dialog {
}
/************************************************************/
#search-param-manager {
}
/************************************************************/
#search-widget {
}
/************************************************************/
#select-widget {
}
/************************************************************/